.menu {
  padding: 6.4rem 0;
}

.menu-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.menu-title h3 {
  font-size: 3.6rem;
  font-weight: 400;
  position: relative;
}
.menu-item {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.menu-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
  position: relative;
}

.menu-desc {
  max-width: 28rem;
  font-size: 1.4rem;
}

.menu-info {
  max-width: 48rem;
}

.menu-flex::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  display: block;
  background-color: var(--bg-color);
  position: absolute;
  bottom: -0.8rem;
}

.menu-icon {
  padding: 0.6rem;
  background-color: var(--bg-color);
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

@media (max-width: 60rem) {
  .menu-drinks {
    margin-bottom: 2.4rem;
    padding: 2rem;
    width: 50rem;
    background-color: var(--bg-color);
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  }
  .menu-flex::after {
    background-color: var(--bg-color-light);
  }
  .menu-icon {
    background-color: var(--bg-color-light);
  }
}

@media (max-width: 30rem) {
  .menu-drinks {
    width: 34rem;
  }

  .menu-title h3 {
    font-size: 2.4rem;
  }

  .menu-desc {
    max-width: 22rem;
  }
  .menu-item {
    font-size: 1.4rem;
  }
}
