.call-action {
  padding: 6.4rem 0;
}

.tittle {
  font-family: var(--tittle-font);
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2;
  max-width: 50rem;
  letter-spacing: -2%;
  position: relative;
  margin-top: 10rem;
}

.tittle::before {
  content: "";
  display: block;
  width: 4rem;
  height: 0.4rem;
  background: var(--color-dec);
  border-radius: 0.4rem;
  top: -0.2rem;
  position: absolute;
}

.customer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.customer-bold {
  font-weight: 600;
}

.customer-list {
  display: flex;
}

.customer-list li {
  margin-left: -0.2rem;
  width: 2rem;
  height: 2rem;
}
picture {
  margin-top: 3.2rem;
}

@media (max-width: 100rem) {
  .tittle {
    font-size: 4.2rem;
    margin-top: 8rem;
  }
}

@media (max-width: 60rem) {
  .tittle {
    font-size: 3.6rem;
    margin-top: 0;
  }
  .call-action {
    padding: 4.2rem 0 8.4rem 0;
  }
  #image-bg {
    order: -1;
    margin-bottom: 3.2rem;
    max-width: 90%;
  }
}
